<div class="card-body">
  <div *ngIf="loading"
       class="spinner-border spinner-border-sm"></div>
  <div class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Is price</th>
          <th scope="col">Is weight</th>
          <th scope="col">link to ID</th>
        </tr>
      </thead>
      <tr *ngFor="let extraFieldDef of extraFieldDefs"
          (click)="setSelected(extraFieldDef)"
          [class.active]="extraFieldDef == selected"
          class="pointer">
        <td>{{extraFieldDef.id}}</td>
        <td>{{extraFieldDef.name}}</td>
        <td>{{extraFieldDef.type}}</td>
        <td>{{extraFieldDef.isPrice}}</td>
        <td>{{extraFieldDef.isWeight}}</td>
        <td>{{extraFieldDef.linkTo?.id || 'none'}}</td>
      </tr>
    </table>
  </div>
  <div class="btn-toulbar"
      role="group"
      aria-label="Tools">
  <button type="button"
          class="btn btn-light"
          data-toggle="collapse"
          aria-expanded="false"
          attr.aria-controls="extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
          attr.data-target="#extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
          (click)="create()"
          *ngIf="isCreateFormUndefined">Add an extra field definition</button>
  <button type="button"
          class="btn btn-light"
          data-toggle="collapse"
          aria-expanded="false"
          attr.aria-controls="extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
          attr.data-target="#extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
          *ngIf="selected && isCreateFormUndefined"
          (click)="update()">Edit {{selected.name}}</button>
  <button type="button"
          class="btn btn-light"
          *ngIf="selected"
          (click)="onDelete()">Delete {{selected.name}}</button>
  </div>
</div>
<div class="collapse"
     id="extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
     #modal
     >
  <div class="card">
    <div class="card-header row">
      <span class="navbar-brand">
        <span *ngIf="isCreateForm">Add</span>
        <span *ngIf="!isCreateForm">Update</span>
        an extra field definition
      </span>
      <span class="navbar-nav mr-auto"></span>
      <button [disabled]="loading"
              type="button"
              class="btn btn-primary"
              (click)="onSubmitModal()">
        <span *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"></span>
        <span *ngIf="isCreateForm">Add</span>
        <span *ngIf="!isCreateForm">Update</span>
          extra field definition
      </button>
      <button [disabled]="loading"
              type="button"
              aria-expanded="false"
              attr.aria-controls="extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
              class="btn btn-secondary"
              data-toggle="collapse"
              attr.data-target="#extraModal{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
              (click)="onCancel()">
        Cancel
      </button>
    </div>
    <div class="card-body">
      <form [formGroup]="form"
          (ngSubmit)="onSubmitModal()">
        <div *ngIf="submitted && errors.hasMessage"
              class="alert alert-warning">
          <div>{{errors.message}}</div>
        </div>
        <div *ngIf="submitted && errors.hasFatalError"
              class="alert alert-danger">
          <div [innerHTML]="errors.fatalError"></div>
        </div>
        <div *ngIf="submitted && f.message"
              class="invalid-feedback">
          <div *ngIf="f.message">{{f.message}}</div>
        </div>
        <div class="form-group row">
          <label for="name"
                  class="col-sm-2 col-form-label">
            Name
          </label>
          <div class="col-sm-10">
            <input type="text"
                    formControlName="name"
                    (ngModelChange)="clearError('name')"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted
                              && (f.name.errors
                              || errors.hasErrors.name) }"/>
            <div *ngIf="submitted && f.name.errors"
                  class="invalid-feedback">
              <div *ngIf="f.name.errors.required">
                  Name is required
              </div>
            </div>
            <div *ngIf="submitted && errors.hasErrors.name">
              <div *ngFor="let child of errors.errors.name.errors">
                {{child}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="type"
                  class="col-sm-2 col-form-label">
            Type
          </label>
          <div class="col-sm-10">
            <select formControlName="type"
                    (ngModelChange)="clearError('type')"
                    class="form-control"
                    #selectType
                    [ngClass]="{ 'is-invalid': submitted
                                && (f.type.errors
                                || errors.hasErrors.type) }">
              <option value="" disabled selected>Select the type</option>
              <option *ngFor="let value of typeKeys"
                      [ngValue]="value.key">{{value.display}}</option>
            </select>
            <div *ngIf="submitted && f.type.errors"
                  class="invalid-feedback">
              <div *ngIf="f.type.errors.required">
                  Type is required
              </div>
            </div>
            <div *ngIf="submitted && errors.hasErrors.type">
              <div *ngFor="let child of errors.errors.type.errors">
                {{child}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="isPrice_{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
                  class="col-4 col-sm-2 col-form-label form-check-label pointer">
            Is price
          </label>
          <div class="col-8 col-sm-10">
            <div class="form-check">
              <input type="checkbox"
                      formControlName="isPrice"
                      (ngModelChange)="clearError('isPrice')"
                      class="form-check-input pointer"
                      id="isPrice_{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
                      [ngClass]="{ 'is-invalid': submitted
                                && (f.isPrice.errors
                                || errors.hasErrors.isPrice) }"/>
              <div *ngIf="submitted && f.isPrice.errors"
                    class="invalid-feedback">
                <div *ngIf="f.isPrice.errors.required">
                    Is price is required
                </div>
              </div>
              <div *ngIf="submitted && errors.hasErrors.isPrice">
                <div *ngFor="let child of errors.errors.isPrice.errors">
                  {{child}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="isWeight_{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
                  class="col-4 col-sm-2 col-form-label form-check-label pointer">
            Is weight
          </label>
          <div class="col-8 col-sm-10">
            <div class="form-check">
              <input type="checkbox"
                     formControlName="isWeight"
                     id="isWeight_{{category?.id||'0'}}_{{subCategory?.id||'0'}}"
                     (ngModelChange)="clearError('isWeight')"
                     class="form-check-input pointer"
                     [ngClass]="{ 'is-invalid': submitted
                                && (f.isWeight.errors
                                || errors.hasErrors.isWeight) }"/>
              <div *ngIf="submitted && f.isWeight.errors"
                    class="invalid-feedback">
                <div *ngIf="f.isWeight.errors.required">
                    isWeight is required
                </div>
              </div>
              <div *ngIf="submitted && errors.hasErrors.isWeight">
                <div *ngFor="let child of errors.errors.isWeight.errors">
                  {{child}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row"
              *ngIf="subCategory && subCategory.id">
          <label for="linkTo"
                  class="col-sm-2 col-form-label">
            Link to
          </label>
          <div class="col-sm-10">
            <select formControlName="linkTo"
                    (ngModelChange)="clearError('linkTo')"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted
                                && errors.hasErrors.linkTo }"
                    [compareWith]="compareByID">
              <option [ngValue]="null">None</option>
              <option *ngFor="let linkTo of filter(extraFieldDefs)"
                      [ngValue]="linkTo">{{linkTo.name}}</option>
            </select>
            <div *ngIf="submitted && errors.hasErrors.linkTo">
              <div *ngFor="let child of errors.errors.linkTo.errors">
                {{child}}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

