<app-equipment-filter #equipmentFilter></app-equipment-filter>

<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <div *ngIf="errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="errors.fatalError"></div>
  </div>
  <div *ngIf="errors.hasMessage"
       class="alert alert-warning">
    <div>{{errors.message}}</div>
  </div>
  <div *ngIf="errors.hasErrors['validate']">
    <div *ngFor="let child of errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"
            class="col-md-2 col-sm-9 col-xs-9">
          <div *ngIf="loading"
               class="spinner-border spinner-border-sm"></div>
          Name
        </th>
        <th scope="col"
            class="col-md-4 d-none d-sm-table-cell">Description</th>
        <th scope="col"
            class="col-md-1 d-none d-sm-table-cell d-md-table-cell">Brand</th>
        <th scope="col"
            class="col-md-2 d-none d-sm-table-cell d-md-table-cell">Category
        </th>
        <th scope="col"
            class="col-1 col-sm-1 col-xs-1">Weight</th>
        <th scope="col"
            class="col-1 col-sm-1 col-xs-1">Price</th>
        <th scope="col"
            class="col-1 col-sm-1 col-xs-1">Actions</th>
      </tr>
    </thead>
    <ng-container *ngFor="let equipment of equipmentsFilter">
      <tr (click)="setSelected(equipment)"
          (dblclick)="updateDblClick(equipment)"
          [class.active]="equipment == selected"
          class="pointer">
        <td class=""><b>{{equipment.name}}</b>
        </td>
        <td class="d-none d-sm-table-cell">
          <p>
            {{equipment.description | slice:0:75}}{{equipment.description.length > 75 ? '...' : ''}}
          </p>
        </td>
        <td class="d-none d-sm-table-cell d-md-table-cell">
          {{equipment.brand?.name || ''}}</td>
        <td class="d-none d-sm-table-cell d-md-table-cell">
          {{equipment.subCategory.name}}</td>
        <td class="">{{equipment.compute('weight')}}g</td>
        <td class="">{{equipment.compute('price')}}</td>
        <td class="">
          <div class="btn-group"
               role="group"
               aria-label="Tools">
            <button type="button"
                    class="btn btn-light"
                    *ngIf="canEditOrDelete(equipment)"
                    (click)="equipmentUpdate.update(equipment)">
              <mat-icon [inline]="true">edit</mat-icon>
            </button>
          </div>
          <div class="btn-group"
               role="group">
            <app-switch [value]="equipment.validate"
                        [disabled]="loading"
                        *ngIf="equipment.askValidate"
                        (isChecked)="updateValidate(equipment)">
            </app-switch>
          </div>
        </td>
      </tr>
      <tr *ngIf="selected === equipment">
        <td colspan="7">
          <app-characteristic-validator [parentData]="equipment"
                              (create)="characteristicModal.create(equipment)"
                              (update)="characteristicModal.update(equipment, $event)">
          </app-characteristic-validator>
        </td>
      </tr>
    </ng-container>
  </table>
  <div *ngIf="errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="errors.fatalError"></div>
  </div>
  <div *ngIf="errors.hasMessage"
       class="alert alert-warning">
    <div>{{errors.message}}</div>
  </div>
  <div *ngIf="errors.hasErrors['validate']">
    <div *ngFor="let child of errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
</div>

<app-equipment-update #equipmentUpdate
                      [equipments]="equipments"
                      [characteristicModal]="characteristicModal"
                      (updateDone)="equipmentAdded($event)">
</app-equipment-update>

<app-characteristic-update #characteristicModal>
</app-characteristic-update>
