<div class="btn-toulbar"
     role="group"
     aria-label="Tools">
  <div *ngIf="loading"
       class="spinner-border spinner-border-sm"></div>
  <button type="button"
          class="btn btn-light"
          data-toggle="modal"
          data-target="#categoryModal"
          (click)="create()"
          [disabled]="loading">Add a category</button>
</div>

<div class="card"
     *ngFor="let category of categories">
  <div class="card-header">
    <button role="button"
            class="btn btn-light"
            data-toggle="collapse"
            attr.data-target="#categoryCardCollapse_{{category.id}}"
            aria-expanded="true"
            attr.aria-controls="categoryCardCollapse{{category.id}}">
      <span class="glyphicon glyphicon-chevron-bottom" aria-hidden="false"></span>
      {{category.id}} - {{category.name}}
    </button>
    <button type="button"
            class="btn btn-light"
            data-toggle="modal"
            data-target="#categoryModal"
            (click)="update(category)">Edit</button>
    <button type="button"
            class="btn btn-light"
            (click)="onDelete(category)">Delete</button>
    <span (click)="collapse(category)" class="pointer"></span>
  </div>
  <div id="categoryCardCollapse_{{category.id}}"
       class="collapse show"
       attr.aria-labelledby="categoryHeaderCollapse_{{category.id}}">
    <div class="card-body">
      <app-sub-category [parentData]="category"
                        [subCategories]="category.subCategories">
      </app-sub-category>
    </div>
  </div>
</div>

<div class="modal"
     tabindex="-1"
     role="dialog"
     id="categoryModal"
     #modal
     aria-labelledby="addLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            id="addLabel"
            *ngIf="isCreateForm">Add a category</h5>
        <h5 class="modal-title"
            id="updateLabel"
            *ngIf="!isCreateForm">Update a category</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="submitted && errors.hasMessage"
              class="alert alert-warning">
          <div>{{errors.message}}</div>
        </div>
        <div *ngIf="submitted && errors.hasFatalError"
              class="alert alert-danger">
          <div [innerHTML]="errors.fatalError"></div>
        </div>
        <form [formGroup]="form"
              class="form-horizontal"
              (ngSubmit)="onSubmit()">
          <div *ngIf="submitted && f.message"
               class="invalid-feedback">
            <div *ngIf="f.message">{{f.message}}</div>
          </div>
          <div class="form-group row">
            <label for="category_name"
                   class="col-sm-2 col-form-label pointer">Name</label>
            <div class="col-sm-10">
              <input type="text"
                     id="category_name"
                     formControlName="name"
                     (ngModelChange)="clearError('name')"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': submitted
                                && (f.name.errors
                                    || errors.hasErrors.name) }"/>
              <div *ngIf="submitted
                          && (f.name.errors || errors.hasErrors.name)"
                   class="invalid-feedback">
                <div *ngIf="f.name.errors && f.name.errors.required">
                  Name is required
                </div>
                <div *ngIf="errors.hasErrors.name">
                  <div *ngFor="let child of errors.errors.name.errors">
                    {{child}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer form-group">
        <button [disabled]="loading"
                type="button"
                class="btn btn-primary"
                (click)="onSubmitCreate()">
          <span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
          <span *ngIf="isCreateForm">Add</span>
          <span *ngIf="!isCreateForm">Update</span>
          category
        </button>
        <button [disabled]="loading"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
