<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <div *ngIf="service.errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="service.errors.fatalError"></div>
  </div>
  <div *ngIf="service.errors.hasMessage"
       class="alert alert-warning">
    <div>{{service.errors.message}}</div>
  </div>
  <div *ngIf="service.errors.hasErrors['validate']">
    <div *ngFor="let child of service.errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
  <fieldset [disabled]="service.loading">
    <app-category-filter
                         class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
    </app-category-filter>

    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-light btn-sm d-flex justify-content-center align-content-between"
              *ngIf="!isValidator"
              (click)="categoryModal.open()">
        <mat-icon [inline]="true">add</mat-icon>
      </button>
      <app-category-filter
                           class="d-none d-sm-none d-md-none d-lg-none d-xl-block">
      </app-category-filter>
      <app-pagination [pagination]="service"></app-pagination>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"
              class="col-8">
            Category name
          </th>
          <th scope="col"
              class="col-2">Sub-categories count</th>
          <th scope="col"
              class="col-1"
              *ngIf="isValidator">Ask Validation</th>
          <th scope="col"
              class="col-1 action">
            Action
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let category of service.values">
        <tr (click)="setSelected(category)"
            (dblclick)="dblClick(category)"
            [class.active]="category === service.selected"
            class="pointer">
          <td class="col-8">
            <b>{{category.name}}</b>
          </td>
          <td class="col-2">{{category.subCategories.length}}</td>
          <td class="col-1">
            <app-switch [value]="category.askValidate"
                        [disabled]="true"></app-switch>
          </td>
          <td class="col-1 action">
            <div class="btn-group d-flex justify-content-center align-content-between"
                 role="group"
                 *ngIf="service.canEditOrDelete(category)"
                 aria-label="Tools">
              <button type="button"
                      class="btn btn-light btn-sm d-flex justify-content-center align-content-between"
                      (click)="categoryModal.open(category)">
                <mat-icon [inline]="true">update</mat-icon>
              </button>
              <button type="button"
                      class="btn btn-light btn-sm d-flex justify-content-center align-content-between"
                      (click)="categoryModal.onDelete(category)">
                <mat-icon [inline]="true">delete</mat-icon>
              </button>
              <app-switch [value]="category.askValidate"
                          [disabled]="service.loading"
                          (isChecked)="service.updateAskValidate(category)">
              </app-switch>
            </div>
          </td>
        </tr>
        <tr *ngIf="service.selected === category">
          <td colspan="4">
            <app-sub-category [subCategories]="category.subCategories"
                              [parent]="category"
                              [isValidator]="service.isValidator"
                              [loadingParent]="service.loading"
                              [subCategoryModal]="subCategoryModal">
            </app-sub-category>
          </td>
        </tr>
      </ng-container>
    </table>
    <app-pagination [pagination]="service"></app-pagination>
  </fieldset>
  <div *ngIf="service.errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="service.errors.fatalError"></div>
  </div>
  <div *ngIf="service.errors.hasMessage"
       class="alert alert-warning">
    <div>{{service.errors.message}}</div>
  </div>
  <div *ngIf="service.errors.hasErrors['validate']">
    <div *ngFor="let child of service.errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
</div>
<app-category-update #categoryModal
                     (updateDone)="service.valueAdded($event)">
</app-category-update>
<app-sub-category-update #subCategoryModal></app-sub-category-update>
