<fieldset [disabled]="service.loading">
    <app-top-errors [errors]="service.errors"></app-top-errors>
  <app-validation-and-search [service]="service"
                               class="d-block d-sm-block d-md-block d-lg-block d-xl-none">
    </app-validation-and-search>

    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-light d-flex justify-content-center align-content-between"
              *ngIf="!isValidator"
              (click)="categoryModal.open()">
        <mat-icon [inline]="true">add</mat-icon>
      </button>
      <app-validation-and-search [service]="service"
                                 class="d-none d-sm-none d-md-none d-lg-none d-xl-block">
      </app-validation-and-search>
      <app-pagination [pagination]="service"></app-pagination>
    </div>
</fieldset>
<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">

  <fieldset [disabled]="service.loading">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"
              class="col-8 align-middle">
            <app-thead [service]="service"
                       [text]="'Name'"
                       [sortBy]="sortByEnum.name"></app-thead>
          </th>
          <th scope="col"
              class="col-2 align-middle">
            <app-thead [service]="service"
                       [text]="'Sub-categories count'"
                       [sortBy]="sortByEnum.subCategoryCount"></app-thead>
          </th>
          <th scope="col"
              class="col-1 align-middle"
              *ngIf="isValidator">
            <app-thead [service]="service"
                       [text]="'Ask Validation'"
                       [sortBy]="sortByEnum.askValidate"></app-thead>
          </th>
          <th scope="col align-middle"
              class="col-1 align-middle text-right">
            <app-thead [service]="service"
                       [text]="'Action'"
                       [sortBy]="isValidator ? sortByEnum.validate : sortByEnum.askValidate"></app-thead>
          </th>
        </tr>
      </thead>
      <ng-container *ngFor="let category of service.values">
        <tr (click)="setSelected(category)"
            (dblclick)="dblClick(category)"
            [class.active]="category === service.selected"
            class="pointer">
          <td class="col-8 align-middle">
            <b>{{category.name}}</b>
          </td>
          <td class="col-2 align-middle">{{category.subCategories.length}}</td>
          <td class="col-1 align-middle"
              *ngIf="isValidator">
            <app-switch [value]="category.askValidate"
                        [disabled]="true"></app-switch>
          </td>
          <td class="col-1 align-middle text-right">
            <app-action [service]="service"
                        [value]="category"
                        (delete)="categoryModal.onDelete(category)"
                        (update)="categoryModal.open(category)"></app-action>
          </td>
        </tr>
        <tr *ngIf="service.selected === category">
          <td colspan="4">
            <app-sub-category [subCategories]="category.subCategories"
                              [parent]="category"
                              [isValidator]="service.isValidator"
                              [loadingParent]="service.loading"
                              [subCategoryModal]="subCategoryModal">
            </app-sub-category>
          </td>
        </tr>
      </ng-container>
    </table>
  </fieldset>
</div>
<fieldset [disabled]="service.loading">
  <app-pagination [pagination]="service"></app-pagination>
    <app-top-errors [errors]="service.errors"></app-top-errors>
</fieldset>
<app-category-update #categoryModal
                     (updateDone)="service.createUpdateDelete($event)">
</app-category-update>
<app-sub-category-update #subCategoryModal></app-sub-category-update>
