<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <app-top-errors [service]="service"></app-top-errors>
  <fieldset [disabled]="service.loading">
    <app-pagination [pagination]="service"></app-pagination>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"
              class="align-middle">
            <app-thead [service]="service"
                       [text]="'Username'"
                       [sortBy]="sortByEnum.username"></app-thead>
          </th>
          <th scope="col"
              class="align-middle">
            <app-thead [service]="service"
                       [text]="'Email'"
                       [sortBy]="sortByEnum.email"></app-thead>
          </th>
          <th scope="col"
              class="align-middle">
            <app-thead [service]="service"
                       [text]="'Gender'"
                       [sortBy]="sortByEnum.gender"></app-thead>
          </th>
          <th scope="col"
              class="align-middle">
            <app-thead [service]="service"
                       [text]="'Role'"
                       [sortBy]="sortByEnum.roles"></app-thead>
          </th>
          <th scope="col"
              class="align-middle">
            <app-thead [service]="service"
                       [text]="'Last Login'"
                       [sortBy]="sortByEnum.lastLogin"></app-thead>
          </th>
        </tr>
      </thead>
      <tr *ngFor="let user of service.values"
          (click)="service.setSelected(user)"
          class="pointer"
          [class.active]="user == service.selected"
          [class.pointer]="service.canEdit(user)">
        <td class="align-middle">{{user.username}}</td>
        <td class="align-middle">{{user.email}}</td>
        <td class="align-middle">{{user.gender}}</td>
        <td class="align-middle"
            *ngIf="!service.canEdit(user)">{{user.roles}}</td>
        <td class="align-middle"
            *ngIf="service.canEdit(user)">
          <a class="nav-link dropdown-toggle"
             id="dpUserRolesUpdate_{{user.id}}"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="false">
            {{user.roles}}
          </a>
          <ul class="dropdown-menu"
              role="menu"
              attr.aria-labelledby="dpUserRolesUpdate_{{user.id}}">
            <li (click)="service.updateUser(user, role.User)">{{role.User}}</li>
            <li (click)="service.updateUser(user, role.Ambassador)">
              {{role.Ambassador}}</li>
            <li (click)="service.updateUser(user, role.Admin)">{{role.Admin}}
            </li>
          </ul>
        </td>
        <td class="align-middle">{{user.lastLogin}}</td>
      </tr>
    </table>
    <app-pagination [pagination]="service"></app-pagination>
  </fieldset>
  <app-top-errors [service]="service"></app-top-errors>
</div>
