<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="currentUser">
    <a class="navbar-brand" routerLink="/">{{currentUser.username | titlecase}}, what about your backpack ?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="equipment">Equipment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="trip">Trip</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="profil">Profil</a>
            </li>
            <li role="separator" class="divider" *ngIf="isAmbassador"></li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="isAdmin">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!isAdmin">Not admin</a>
            </li>
            <li class="nav-item" *ngIf="isAmbassador">
                <a class="nav-link" routerLink="category">Category</a>
            </li>
            <li class="separator" class="divider" *ngIf="isAdmin"></li>
            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" routerLink="users">User</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="!currentUser">
    <a class="navbar-brand" routerLink="/">What about your backpack ?</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavNotLog" aria-controls="navbarNavNotLog" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavNotLog" class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="login()">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register</a>
            </li>
        </ul>
    </div>
</nav>

<div class="nav flex-column flex-sm-column" *ngIf="currentUser">

</div>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>

</div>
