<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     *ngIf="currentUser">
  <a class="navbar-brand d-none d-sm-block"
     routerLink="/">
    <img src="favicon.png"
         alt="walker"
         class="img-fluid"
         width="50" /> Hey {{currentUser.username | titlecase}}, what about your
    backpack ?
  </a>
  <a class="navbar-brand d-block d-sm-none"
     routerLink="/">
    <img src="favicon.png"
         alt="walker"
         class="img-fluid"
         width="50" /> Hey {{currentUser.username | titlecase}}, Way.B ?
  </a>
  <span class="form-inline">
    <!-- Equipment filter for sm device -->
    <a class="navbar-toggler topright d-block d-sm-none"
       type="button"
       data-toggle="collapse"
       data-target="#filterEquipmentNavDropdown"
       aria-controls="filterEquipmentNavDropdown"
       aria-expanded="false"
       aria-label="Toggle filter"
       *ngIf="router && router.url === '/equipments'">
      <mat-icon [inline]="true">search</mat-icon>
    </a>
    <!-- End Equipment filter for sm device -->
    <!-- Brand filter for sm device -->
    <a class="navbar-toggler topright d-block d-sm-none"
       type="button"
       data-toggle="collapse"
       data-target="#filterBrandNavDropdown"
       aria-controls="filterBrandNavDropdown"
       aria-expanded="false"
       aria-label="Toggle filter"
       *ngIf="pathname === '/brands' || pathname === '/brandsValidator'">
      <mat-icon [inline]="true">search</mat-icon>
    </a>
    <!-- End Brand filter for sm device -->
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <mat-icon class="fa-menu-close">menu</mat-icon>
      <mat-icon class="fa-menu-open">drag_handle</mat-icon>
    </button>
  </span>
  <div id="navbarNavDropdown"
       class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"
           href="#">
          Home <span class="sr-only">(current)</span>
        </a>
      </li>
      <div class="dropdown d-lg-none">
        <a class="nav-link"
           routerLinkActive="active-link"
           routerLink="">Backpacks</a>
        <a class="nav-link dropdown-toggle"
           href="#"
           id="dropdownInfo"
           role="btn"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Equipment</a>
        <div class="dropdown-menu"
             aria-labelledby="dropdownInfo">
          <a class="dropdown-item"
             routerLinkActive="active-link"
             routerLink="equipments">Equipments</a>
          <a class="dropdown-item"
             routerLinkActive="active-link"
             routerLink="brands"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name'}"
             >Brands</a>
          <a class="dropdown-item"
             routerLinkActive="active-link"
             routerLink="categories"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name'}">Categories</a>
          <a class="dropdown-item"
             routerLinkActive="active-link"
             routerLink="trips">Trips</a>
          <a class="dropdown-item"
             routerLinkActive="active-link"
             routerLink="profil">Profil</a>
        </div>
      </div>
      <div class="nav-item dropdown d-lg-none"
           *ngIf="isAmbassador">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="dropdownInfo"
           role="btn"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Ambassador</a>
        <div class="dropdown-menu"
             routerLinkActive="active-link"
             aria-labelledby="dropdownInfo">
          <a class="dropdown-item nav-link"
             routerLinkActive="active-link"
             routerLink="equipmentsValidator">Equipments' validator</a>
          <a class="dropdown-item nav-link"
             routerLinkActive="active-link"
             routerLink="brandsValidator"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name', validate: 'false', askValidate: 'true'}">Brands' validator</a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="categoriesValidator"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name', validate: 'false', askValidate: 'true'}">Categories' validator</a>
        </div>
      </div>
      <li class="separator"
          class="divider"
          *ngIf="isAdmin"></li>
      <li class="nav-item"
          *ngIf="isAdmin">
        <a class="nav-link"
           routerLinkActive="active-link"
           routerLink="users">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           *ngIf="isAdmin">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           *ngIf="!isAdmin">Not admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active-link"
           (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light"
     *ngIf="!currentUser">
  <a class="navbar-brand"
     routerLink="/">
    <img src="favicon.png"
         alt="walker"
         class="img-fluid"
         width="50" /> What about your backpack ?</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavNotLog"
          aria-controls="navbarNavNotLog"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavNotLog"
       class="navbar-collapse collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active-link"
           (click)="login()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active-link"
           routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>

<!-- main app container -->
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-xl-2 bd-sidebar d-none d-md-none d-lg-block">
      <div class="card mt-4"
           *ngIf="currentUser">
        <h4 class="card-header">Equipment</h4>
        <div class="card-body">
          <a class="nav-link"
             routerLinkActive="active-link"
             [routerLinkActiveOptions]="{ exact: true }"
             routerLink="">Backpacks</a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="equipments">Equipments</a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="brands"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name'}">Brands</a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="categories"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name'}">
            Categories
          </a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="trips">Trips</a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="profil">Profil</a>
        </div>
      </div>
      <div class="card mt-4"
           *ngIf="isAmbassador">
        <h4 class="card-header">Ambassador</h4>
        <div class="card-body">
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="equipmentsValidator">
            Equipments' validator
          </a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="brandsValidator"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name', validate: 'false', askValidate: 'true'}">
            Brands' validator
          </a>
          <a class="nav-link"
             routerLinkActive="active-link"
             routerLink="categoriesValidator"
             [queryParams]="{page:'1', limit: '10', sort: 'asc', sortBy: 'name', validate: 'false', askValidate: 'true'}">
            Categories' validator
          </a>
        </div>
      </div>
    </div>
    <main class="col-12 col-md-12 col-xl-8 py-lg-3 bd-content"
          role="main">
      <router-outlet></router-outlet>
    </main>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar d-none d-lg-block"
         *ngIf="currentUser">
      <app-user-owned [footer]="false"></app-user-owned>
    </div>
  </div>
</div>
<footer class="footer .d-none .d-md-block .d-lg-none"
        *ngIf="currentUser">
  <app-user-owned [footer]="true"></app-user-owned>
</footer>
