<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse collapse filterDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown"
          *ngFor="let cat of service.categoryService.values">
        <a class="nav-link dropdown-toggle"
           id="dpEquipmentFilterCategory_{{cat.id}}"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          {{service.categoryService.displayName(cat)}}
        </a>
        <ul class="dropdown-menu"
            role="menu"
            (click)="prevent($event)"
            attr.aria-labelledby="dpEquipmentFilterCategory_{{cat.id}}">
          <li *ngFor="let sub of cat.subCategories">
            <app-filter-switch [disabled]="service.loading"
                               [value]="sub.inFilter"
                               [text]="sub.name"
                               (check)="service.checkSubCategories(sub)">
            </app-filter-switch>
          </li>
          <li>
            <app-filter-switch [disabled]="service.loading"
                               [value]="service.subCategoryAreAllChecked(cat)"
                               [text]="'All'"
                               (check)="service.checkAllSubCategories(cat)">
            </app-filter-switch>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse collapse filterDropdown">
    <ul class="navbar-nav align-items-md-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           id="dpEquipmentFilterBrand"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          Brands
        </a>
        <ul class="dropdown-menu"
            role="menu"
            (click)="prevent($event)"
            aria-labelledby="dpEquipmentFilterBrand">
          <li>
            <app-pagination [pagination]="service.brandService"
                            (click)="prevent($event)"></app-pagination>
          </li>
          <li class="dropdown-divider"></li>
          <li *ngFor="let brand of service.brandService.values">
            <app-filter-switch [disabled]="service.loading"
                               [value]="brand.inFilter"
                               [text]="brand.name"
                               (check)="service.checkBrand(brand)">
            </app-filter-switch>
          </li>
          <li>
            <app-filter-switch [disabled]="service.loading"
                               [value]="service.brandAreAllChecked()"
                               [text]="'Select All'"
                               (check)="service.checkAllBrands()">
            </app-filter-switch>
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <app-validation-and-search [service]="service.brandService"
                                       [isCombo]="true">
            </app-validation-and-search>
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <app-pagination [pagination]="service.brandService"
                            (click)="prevent($event)"></app-pagination>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.owned"
                           [text]="'Owned'"
                           (check)="service.filterOwned()"></app-filter-switch>
      </li>
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.wishes"
                           [text]="'Wishes'"
                           (check)="service.filterWishes()"></app-filter-switch>
      </li>
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.others"
                           [text]="'Others'"
                           (check)="service.filterOthers()"></app-filter-switch>
      </li>
    </ul>
  </div>
</nav>
