<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse collapse filterDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown"
          *ngFor="let cat of categoryService.values">
        <a class="nav-link dropdown-toggle"
           id="dpEquipmentFilterCategory_{{cat.id}}"
           role="button"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">
          {{categoryService.displayName(cat)}}
        </a>
        <ul class="dropdown-menu"
            role="menu"
            (click)="prevent($event)"
            attr.aria-labelledby="dpEquipmentFilterCategory_{{cat.id}}">
          <li *ngFor="let sub of cat.subCategories">
            {{sub.name}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse collapse filterDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.owned"
                           [text]="'Owned'"
                           (check)="service.filterOwned()"></app-filter-switch>
      </li>
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.wishes"
                           [text]="'Wishes'"
                           (check)="service.filterWishes()"></app-filter-switch>
      </li>
      <li class="nav-item">
        <app-filter-switch [disabled]="service.loading"
                           [value]="service.others"
                           [text]="'Others'"
                           (check)="service.filterOthers()"></app-filter-switch>
      </li>
    </ul>
  </div>
</nav>
