<div class="dropdown">
  <button type="buton"
          #combo
          id="{{comboId}}"
          (keydown)="catchKeyDown($event)"
          class="btn btn-light dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          data-boundary=""
          aria-expanded="false">
    {{selectedOrEmptyText}}
  </button>
  <div class="dropdown-menu"
       (keydown)="catchKeyDown($event)"
       attr.aria-labelledby="{{comboId}}">
    <div class="dropdown-item"
         (click)="prevent($event)">
      <app-pagination [pagination]="paginate"
                      (click)="prevent($event)"></app-pagination>
    </div>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item"
       (click)="changeElt(null)"
       href="#"
       type="button"
       [ngClass]="{'active': null === value}">None</a>
    <a class="dropdown-item"
       *ngFor="let elt of paginate.list()"
       (click)="changeElt(elt)"
       href="#"
       type="button"
       [ngClass]="{'active': value != null && paginate.getId(elt) === paginate.getId(value)}">{{paginate.displayName(elt)}}</a>
    <div class="dropdown-divider"></div>
    <div class="dropdown-item"
         (click)="prevent($event)">
      <app-pagination [pagination]="paginate"
                      (click)="prevent($event)"></app-pagination>
    </div>
    <div class="dropdown-item"
         [ngSwitch]="filterEnum"
         *ngIf="filterEnum !== FilterType.none"
         (click)="prevent($event)">
      <app-brand-filter (click)="prevent($event)"
                        *ngSwitchCase="filterEnum === FilterType.brand"
                        [isCombo]="true"></app-brand-filter>
    </div>
  </div>
</div>
