<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <div *ngIf="errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="errors.fatalError"></div>
  </div>
  <div *ngIf="errors.hasMessage"
       class="alert alert-warning">
    <div>{{errors.message}}</div>
  </div>
  <div *ngIf="errors.hasErrors['validate']">
    <div *ngFor="let child of errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
  <fieldset [disabled]="loading">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <button class="btn btn-light"
                    (click)="brandModal.open()">
              <mat-icon>add</mat-icon>Name
            </button>
          </th>
          <th scope="col">URL</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let brand of brands"
          (click)="setSelected(brand)"
          (dblclick)="dblClick(brand)"
          [class.active]="brand == selected"
          class="pointer">
        <td><b>{{brand.name}}</b>
        </td>
        <td>
          <a [attr.href]="returnUrl(brand.uri)"
             target="_blank"
             rel="noopener noreferrer">{{brand.uri}}</a>
        </td>
        <td>
          <div class="col">
            <div>
              <div class="btn-group"
                   role="group"
                   aria-label="Tools"
                   *ngIf="canEditOrDelete(brand)">
                <button type="button"
                        class="btn btn-light"
                        data-toggle="modal"
                        data-target="#addEquipmentModal"
                        (click)="brandModal.open(brand)">
                  <mat-icon>update</mat-icon>
                </button>
                <button type="button"
                        class="btn btn-light"
                        (click)="brandModal.onDelete(brand)">
                  <mat-icon>delete</mat-icon>
                </button>
                <app-switch [value]="brand.askValidate"
                            [disabled]="loading"
                            (isChecked)="updateAskValidate(brand)"></app-switch>
                <span *ngIf="loading && selected === brand"
                      class="spinner-border spinner-border-sm mr-1"></span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </fieldset>
  <div *ngIf="errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="errors.fatalError"></div>
  </div>
  <div *ngIf="errors.hasMessage"
       class="alert alert-warning">
    <div>{{errors.message}}</div>
  </div>
  <div *ngIf="errors.hasErrors['validate']">
    <div *ngFor="let child of errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
</div>
<app-brand-update #brandModal
                  [brands]="brands"></app-brand-update>
