<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <div *ngIf="service.errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="service.errors.fatalError"></div>
  </div>
  <div *ngIf="service.errors.hasMessage"
       class="alert alert-warning">
    <div>{{service.errors.message}}</div>
  </div>
  <div *ngIf="service.errors.hasErrors['validate']">
    <div *ngFor="let child of service.errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
  <app-brand-filter></app-brand-filter>
  <fieldset [disabled]="service.loading">
    <app-pagination [pagination]="service"></app-pagination>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <button class="btn btn-light"
                    (click)="brandModal.open()">
              <mat-icon>add</mat-icon>Name
            </button>
          </th>
          <th scope="col">URL</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tr *ngFor="let brand of service.brands"
          (click)="service.setSelected(brand)"
          (dblclick)="dblClick(brand)"
          [class.active]="brand == service.selected && service.canEditOrDelete(brand)"
          [class.pointer]="service.canEditOrDelete(brand)">
        <td><img *ngIf="brand.logo && brand.logo.hasUrl()"
               [src]="brand.logo.url()"
               [alt]="brand.logo.description"
               class="rounded img-thumbnail" /><b>{{brand.name}}</b>
        </td>
        <td>
          <a [attr.href]="service.returnUrl(brand.uri)"
             target="_blank"
             rel="noopener noreferrer">{{brand.uri}}</a>
        </td>
        <td>
          <div class="col">
            <div>
              <div class="btn-group"
                   role="group"
                   aria-label="Tools"
                   *ngIf="service.canEditOrDelete(brand)">
                <button type="button"
                        class="btn btn-light"
                        data-toggle="modal"
                        data-target="#addEquipmentModal"
                        (click)="brandModal.open(brand)">
                  <mat-icon>update</mat-icon>
                </button>
                <button type="button"
                        class="btn btn-light"
                        (click)="brandModal.onDelete(brand)">
                  <mat-icon>delete</mat-icon>
                </button>
                <app-switch [value]="brand.askValidate"
                            [disabled]="service.loading"
                            (isChecked)="service.updateAskValidate(brand)"></app-switch>
                <span *ngIf="service.loading && service.selected === brand"
                      class="spinner-border spinner-border-sm mr-1"></span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
    <app-pagination [pagination]="service"></app-pagination>
  </fieldset>
  <div *ngIf="service.errors.hasFatalError"
       class="alert alert-danger">
    <div [innerHTML]="service.errors.fatalError"></div>
  </div>
  <div *ngIf="service.errors.hasMessage"
       class="alert alert-warning">
    <div>{{service.errors.message}}</div>
  </div>
  <div *ngIf="service.errors.hasErrors['validate']">
    <div *ngFor="let child of service.errors.errors['name'].errors">
      {{child}}
    </div>
  </div>
</div>
<app-brand-update #brandModal
                  [brandService]="service"></app-brand-update>
