<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">URL</th>
        <th scope="col">Valide</th>
      </tr>
    </thead>
    <tr *ngFor="let brand of brands"
        (click)="setSelected(brand)"
        (dblclick)="brandModel.open(brand)"
        [class.active]="brand == selected"
        class="pointer">
      <td><b>{{brand.name}}</b>
        <div>
          <button type="button"
                  class="btn btn-light"
                  *ngIf="canEditOrDelete(brand)"
                  data-toggle="modal"
                  data-target="#addEquipmentModal"
                  (click)="brandModel.open(brand)">
            <mat-icon>update</mat-icon>
          </button>
          <button type="button"
                  class="btn btn-light"
                  *ngIf="canEditOrDelete(brand)"
                  (click)="brandModel.open(brand)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
      <td>
          {{brand.uri}}
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>

<app-brand-update #brandModal
                  [brands]="brands"></app-brand-update>
