<p *ngIf="backpackId === undefined && !service.loading">
  No backpack selected... nothing to show.
</p>
<app-top-errors [errors]="service.errors"></app-top-errors>
<div class="row">
  <div class="col-10">
    <h1>
      {{ service.selected?.name || '' }}
      <small *ngIf="currentUser.id != userId">
        created by {{ service.selected?.createdBy?.username || '' }}
      </small>
    </h1>
  </div>
  <div class="col-2">
    <a class="btn btn-ligth dropdown-toggle"
       id="action_{{ service.selected?.id || '0' }}"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false"
       *ngIf="service.canEditOrDelete(service.selected)">
      <mat-icon [inline]="true">settings</mat-icon>
    </a>
    <ul class="dropdown-menu"
        role="menu"
        attr.aria-labelledby="action_{{ service.selected?.id || '0' }}"
        *ngIf="service.canEditOrDelete(service.selected)">
      <li class="pointer">
        <mat-icon [inline]="true">update</mat-icon>
        Update
      </li>
      <li class="pointer">
        <mat-icon [inline]="true">delete</mat-icon>
        Delete
      </li>
    </ul>
  </div>
</div>
<span *ngIf="currentUser.id != userId">
  This backpack has
  {{ service.selected?.intoBackpacks?.length || '0' }} equipments.
</span>
<span *ngIf="currentUser.id == userId">You own {{ service.selected?.countTotalOwn() }} and you wish
  {{ service.selected?.countTotalWish() }}, so that's {{ service.selected?.intoBackpacks?.length || '0' }}
  equipments.</span>
<br /> It weighs
<b>{{ service.selected?.countWeight() || '0' }}g</b>.
<h4>Equipments into backpack</h4>
<p *ngIf="service.selected?.intoBackpacks?.length === 0 || false">
  There is no equipment into this backpack. Add an equipment from yours on the
  bottom.
</p>
<div class="card-columns">
  <div class="card"
       *ngFor="let into of service.selected?.intoBackpacks || []">
    <ng-template [ngTemplateOutlet]="header"
                 [ngTemplateOutletContext]="{
                   equipment: into.equipment.equipment,
                   characteristic: into.equipment.characteristic,
                   into: into,
                   expand: 'into',
                   expandId: into.equipment.id
                 }">
    </ng-template>
    <div class="card-body collapse"
         id="into_{{ into.equipment.id }}">
      <p>
        {{ into.equipment.characteristic?.gender | titlecase }}, Size:
        {{ into.equipment.characteristic?.size }},
        {{ into.equipment.characteristic?.price | currency }}
        <br />
        Used: {{ into.equipment.usedOwned ? into.equipment.usedOwned : '0' }} on
        {{ into.equipment.ownQuantity }}
        owned
        <br />
        <ng-container *ngIf="into.equipment.wantForUsed > 0 || into.equipment.wantQuantity > 0">
          Wished: {{ into.equipment.wantForUsed ? into.equipment.wantForUsed : '0' }} on
          {{ into.equipment.wantQuantity }}
        </ng-container>
      </p>
    </div>
  </div>
</div>
<h4 *ngIf="currentUser.id == userId">Unused equipments</h4>
<div class="card-columns"
     *ngIf="currentUser.id == userId">
  <ng-container *ngFor="let have of service.haves">
    <div class="card"
         *ngIf="(have.usedOwned === undefined || have.usedOwned === 0) &&
        (have.wantForUsed === undefined || have.wantForUsed === 0)">
      <ng-template [ngTemplateOutlet]="header"
                   [ngTemplateOutletContext]="{
                      equipment: have.equipment,
                      characteristic: have.characteristic,
                      have: have,
                      expand: 'have',
                      expandId: have.id
                    }">
      </ng-template>
      <div class="card-body collapse"
           id="have_{{ have.id }}">
        <p>
          {{ have.characteristic?.gender | titlecase }}, Size:
          {{ have.characteristic?.size }},
          {{ have.characteristic?.price | currency }}
          <ng-container *ngIf="have.ownQuantity > 0"><br />
            Owned: {{ have.ownQuantity }}</ng-container>
          <ng-container *ngIf="have.wantQuantity > 0">
            <br />
            Wished: {{ have.wantQuantity }}
          </ng-container>
        </p>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #header
             let-equipment="equipment"
             let-characteristic="characteristic"
             let-into="into"
             let-have="have"
             let-expand="expand"
             let-expandId="expandId">
  <div class="card-header d-flex flex-row justify-content-between align-items-center pr-0"
       [ngClass]="{'wishOnly': isWishOnly(into, have)}">
    <div>
      <img [src]="equipment.brand.logo.url()"
           [alt]="equipment.brand.logo.description"
           class="card-img"
           *ngIf="equipment.brand?.logo.hasUrl() || false" />
    </div>
    <div>
      <h5 class="card-title">
        <b>{{ equipment.name }}</b>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted"
          *ngIf="(equipment.brand && !equipment.brand?.logo.hasUrl()) ||
                  false">
        <small *ngIf="characteristic">
          {{ characteristic.weight }}g
        </small>
        <small *ngIf="characteristic && (equipment.usedOwn + equipment.wantForUsed) > 1">
          - {{ characteristic.weight * (equipment.usedOwn + equipment.wantForUsed) }}g
        </small>
        <br />
        {{ equipment.brand.name }}
        - {{ equipment.subCategory.name }}
      </h6>
      <h6 class="card-subtitle mb-2 text-muted"
          *ngIf="!equipment.brand || equipment.brand.logo.hasUrl()">
        <small *ngIf="characteristic">
          {{ characteristic.weight }}g
        </small><br />
        {{ equipment.subCategory.name }}
      </h6>
    </div>
    <div class="btn-group pr-1"
         role="button"
         aria-label="Action">
      <button type="button"
              *ngIf="into && currentUser.id == userId"
              class="btn btn-light"
              (click)="service.removeIntoBackpack(into, userId)">
        <mat-icon [inline]="true">remove</mat-icon>
      </button>
      <button type="button"
              class="btn btn-light"
              *ngIf="have && currentUser.id == userId"
              (click)="service.addHaveToBackpack(have, userId)">
        <mat-icon [inline]="true">add</mat-icon>
      </button>
      <button type="button"
              class="btn btn-light"
              data-toggle="collapse"
              attr.data-target="#{{ expand }}_{{ expandId }}"
              aria-expanded="false"
              aria-label="Collapse description">
        <mat-icon [inline]="true"
                  class="expand_less">expand_less</mat-icon>
        <mat-icon [inline]="true"
                  class="expand_more">expand_more</mat-icon>
      </button>
    </div>
  </div>
</ng-template>
