<div
     class="table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><button type="button"
                  class="btn btn-light"
                  (click)="onCreate()">
            <mat-icon>add</mat-icon>Size
          </button></th>
        <th scope="col">Gender</th>
        <th scope="col">Weight</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tr *ngFor="let characteristic of parentData?.characteristics"
        (click)="setSelected(characteristic)"
        (dblclick)="onUpdate(characteristic)"
        [class.active]="characteristic == selected"
        class="pointer">
      <td>{{characteristic.size}}<br />
        <div class="btn-group"
             role="group"
             aria-label="Tools">
          <button type="button"
                  class="btn btn-light"
                  (click)="onUpdate(characteristic)">
            <mat-icon>edit</mat-icon>
          </button>
          <button type="button"
                  class="btn btn-light"
                  (click)="onDelete(characteristic)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
      <td>{{characteristic.gender}}</td>
      <td>{{characteristic.weight}}</td>
      <td>{{characteristic.price}}</td>
    </tr>
  </table>




</div>
