<div class="d-flex justify-content-end align-items-center">
  <small>{{pagination.posBeginCount()}}</small><small
         *ngIf="pagination.posBeginCount() !== pagination.posEndCount()"> -
    {{pagination.posEndCount()}}</small><small> on
    {{pagination.total()}}</small>
  <div *ngIf="pagination.total() > pagination.limit()">

    <button class="btn btn-light btn-sm"
            (click)="pagination.goToFirst()"
            [disabled]="pagination.isFirst()">
      <mat-icon>first_page</mat-icon>
    </button>

    <button class="btn btn-light btn-sm"
            *ngIf="pagination.hasPreviousPage()"
            (click)="pagination.goTo(pagination.getPreviousPage())">
      {{pagination.getPreviousPage()}}
    </button>

    <button class="btn btn-light btn-sm"
            (click)="pagination.goToPrevious()"
            [disabled]="pagination.isFirst()">
      <mat-icon>navigate_before</mat-icon>
    </button>

    <button class="btn btn-light btn-sm"
            [disabled]="true">{{pagination.page()}}</button>

    <button class="btn btn-light btn-sm"
            [disabled]="pagination.isLast()"
            (click)="pagination.goToNext()">
      <mat-icon>navigate_next</mat-icon>
    </button>

    <button class="btn btn-light btn-sm"
            *ngIf="pagination.hasNextPage()"
            (click)="pagination.goTo(pagination.getNextPage())">
      {{pagination.getNextPage()}}
    </button>

    <button class="btn btn-light btn-sm"
            [disabled]="pagination.isLast()"
            (click)="pagination.goToLast()">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>
