<app-delete [titleName]="selected?.name || ''"
            [contentName]="selected?.name || ''"
            [btnName]="selected?.name || ''"
            [errors]="errors"
            (done)="delete($event)"
            #deleteModal></app-delete>

<div class="modal"
     tabindex="-1"
     role="dialog"
     id="brandModal"
     #modal
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            *ngIf="isCreateForm">Add {{selected?.name||'a new brand'}}</h5>
        <h5 class="modal-title"
            *ngIf="!isCreateForm">Update {{selected?.name||''}}</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="submitted && errors.hasMessage"
             class="alert alert-warning">
          <div>{{errors.message}}</div>
        </div>
        <div *ngIf="submitted && errors.hasFatalError"
             class="alert alert-danger">
          <div [innerHTML]="errors.fatalError"></div>
        </div>
        <form [formGroup]="form"
              (ngSubmit)="onSubmit()">
          <div *ngIf="submitted && f.message"
               class="invalid-feedback">
            <div *ngIf="f.message">{{f.message}}</div>
          </div>
          <!-- Form Nane -->
          <div class="form-group row">
            <label for="brand_name"
                   class="col-sm-2 col-form-label pointer">
              Name
            </label>
            <div class="col-sm-10">
              <input type="text"
                     id="brand_name"
                     formControlName="name"
                     (ngModelChange)="clearError('name')"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': isSubmittedAndHasError('name') }" />
              <div *ngIf="submitted && f.name.errors"
                   class="invalid-feedback">
                <div *ngIf="f.name.errors.required">
                  Name is required
                </div>
              </div>
              <div *ngIf="submitted && errors.hasErrors['name']">
                <div *ngFor="let child of errors.errors['name'].errors">
                  {{child}}
                </div>
              </div>
            </div>
          </div>
          <!-- End Form Name -->
          <!-- Form URI -->
          <div class="form-group row">
            <label for="brand_uri"
                   class="col-sm-2 col-form-label pointer">
              Address
            </label>
            <div class="col-sm-10">
              <input type="url"
                     id="brand_uri"
                     formControlName="uri"
                     (ngModelChange)="clearError('uri')"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': isSubmittedAndHasError('uri')}" />
              <div *ngIf="submitted && f.uri.errors"
                   class="invalid-feedback">
                <div *ngIf="f.uri.errors.pattern">
                  Invalid address
                </div>
              </div>
              <div *ngIf="submitted && errors.hasErrors['uri']">
                <div *ngFor="let child of errors.errors['uri'].errors">
                  {{child}}
                </div>
              </div>
            </div>
          </div>
          <!-- End form URI -->
          <!-- Form image -->
          <div formGroupName="logo">
            <div class="form-group row">
              <div class="col-sm-2 col-form-label">
                <img [src]="imageSrc"
                     *ngIf="imageSrc"
                     class="img-thumbnail rounded mx-auto d-block" />
              </div>
              <div class="col-sm-10">
                <div class="btn-group"
                     role="group"
                     aria-label="Tools">
                  <div class="custom-file">
                    <input formControlName="filePathUser"
                           type="file"
                           id="customFile"
                           class="custom-file-input"
                           (change)="onFileChange($event)" />
                    <label class="custom-file-label"
                           for="customFile">Logo</label>
                  </div>
                  <button type="button"
                          class="btn btn-light"
                          (click)="deleteLogo()"><mat-icon>delete</mat-icon></button>
                </div>
              </div>
            </div>
            <div class="form-group row"
                 *ngIf="imageSrc">
              <label for="description"
                     class="col-sm-2 col-form-label pointer">Image
                description</label>
              <div class="col-sm-10">
                <input type="text"
                       formControlName="description"
                       (ngModelChange)="clearError('description')"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': isSubmittedAndHasError('description')}" />
                <div *ngIf="submitted && errors.hasErrors['description']">
                  <div
                       *ngFor="let child of errors.errors['description'].errors">
                    {{child}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End form image -->
        </form>
      </div>
      <!-- Form Buttons -->
      <div class="modal-footer form-group">
        <button [disabled]="loading"
                type="submit"
                class="btn btn-primary"
                (click)="onSubmit()">
          <span *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"></span>
          <span *ngIf="isCreateForm">Add</span>
          <span *ngIf="!isCreateForm">Update</span>
        </button>
        <button [disabled]="loading"
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
                (click)="onCancel()">
          Cancel
        </button>
      </div>
      <!-- End Form Buttons -->
    </div>
  </div>
</div>
