<div class="modal"
     tabindex="-1"
     role="dialog"
     id="haveModal"
     #modal
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"
            monitor
            *ngIf="isCreateForm">Add {{equipment?.name||''}} to your list</h5>
        <h5 class="modal-title"
            *ngIf="!isCreateForm">Update {{equipment?.name||''}}</h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="submitted && errors.hasMessage"
           class="alert alert-warning">
        <div>{{errors.message}}</div>
      </div>
      <div *ngIf="submitted && errors.hasFatalError"
           class="alert alert-danger">
        <div [innerHTML]="errors.fatalError"></div>
      </div>
      <form [formGroup]="havesForm"
            (ngSubmit)="onSubmit()">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Characteristic</th>
              <th scope="col">Owned</th>
              <th scope="col">Whish</th>
            </tr>
          </thead>
          <ng-container formArrayName="haves">
            <tr *ngFor="let have of haves.controls; index as i">
              <ng-container [formGroupName]="i">
                <td>
                  {{have.value.characteristic?.display() || 'should not appears'}}
                </td>
                <td>
                  <div class="container">
                    <div class="row"><input type="number"
                             min="0"
                             id="own_{{i}}"
                             pattern="[0-9][0-9]*"
                             class="form-control col-lg-8 col-xl-8"
                             formControlName="ownQuantity"
                             [ngClass]="{ 'is-invalid': hasError('ownQuantity', have) }" />
                      <button class="btn btn-light btn-sm"
                              type="button"
                              (mousedown)="startTimer('own_', i, '+')"
                              (touchstart)="startTimer('own_', i, '+')"
                              (mouseup)="doneTimer()"
                              (touchend)="doneTimer()"
                              (click)="plus('own_', i)">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button class="btn btn-light btn-sm"
                              type="button"
                              (mouseup)="doneTimer()"
                              (touchend)="doneTimer()"
                              (mousedown)="startTimer('own_', i, '-')"
                              (touchstart)="startTimer('own_', i, '-')"
                              (click)="minus('own_', i)"
                              *ngIf="sup0('own_', i)">
                              <mat-icon>remove</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="hasError('ownQuantity', have)"
                       class="invalid-feedback">
                    <div *ngIf="hasError('wantQuantity', have)">
                      Shoud be a number without dot
                    </div>
                  </div>
                </td>
                <td>
                  <div class="container">
                    <div class="row">
                      <input formControlName="wantQuantity"
                             type="number"
                             pattern="[0-9][0-9]*"
                             min="0"
                             id="want_{{i}}"
                             class="form-control col-lg-8 col-xl-8"
                             [ngClass]="{ 'is-invalid': hasError('wantQuantity', have) }" />
                      <button class="btn btn-light btn-sm"
                              type="button"
                              (mouseup)="doneTimer()"
                              (touchend)="doneTimer()"
                              (touchstart)="startTimer('want_', i, '+')"
                              (mousedown)="startTimer('want_', i, '+')"
                              (click)="plus('want_', i)">
                        <mat-icon>add</mat-icon>
                      </button>
                      <button class="btn btn-light btn-sm"
                              type="button"
                              (mouseup)="doneTimer()"
                              (touchend)="doneTimer()"
                              (touchstart)="startTimer('want_', i, '-')"
                              (mousedown)="startTimer('want_', i, '-')"
                              (click)="minus('want_', i)"
                              *ngIf="sup0('want_', i)">
                        <mat-icon>remove</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div *ngIf="hasError('wantQuantity', have)"
                       class="invalid-feedback">
                    <div *ngIf="hasError('wantQuantity', have)">
                      Shoud be a number without dot
                    </div>
                  </div>

                </td>
              </ng-container>
            </tr>
          </ng-container>
        </table>
        <!-- Form Buttons -->
        <div class="modal-footer form-group">
          <button [disabled]="loading"
                  type="submit"
                  class="btn btn-primary">
            <span *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"></span>
            <span *ngIf="isCreateForm">Add</span>
            <span *ngIf="!isCreateForm">Update</span>
          </button>
          <button [disabled]="loading"
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  (click)="onCancel()">
            Cancel
          </button>
        </div>
        <!-- End Form Buttons -->
      </form>
    </div>
  </div>
</div>
